<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false"
               debug="false">
    <appender name="consoleErr"
              class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{RemoteIP}] [%X{HomeIP}] [%X{User-Agent}] [%thread] [%level] [%logger{50}] [%msg]%n</pattern>
        </encoder>
    </appender>
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%X{RemoteIP}] [%X{HomeIP}] [%X{User-Agent}] [%thread] [%level] [%logger{50}] [%msg]%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="consoleErr"/>
    </root>
</configuration>