<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false"
               debug="false">
    <!--    本地打印日志-->
    <!--1. 输出到控制台-->
    <appender name="console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight(%-5level){FATAL=red,ERROR=red,WARN=yellow,INFO=green,DEBUG=cyan,TRACE=blue}] %logger{50} - %message%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <!-- 定义日志目录 -->
    <property name="LOG_HOME"
              value="logs"/>
    <!-- 定义日志保留天数 -->
    <property name="MAX_HISTORY"
              value="7"/>
    <!-- 定义日志文件总大小 -->
    <property name="TOTAL_SIZE_CAP"
              value="1GB"/>
    <!-- 定义单个日志文件大小 -->
    <property name="MAX_FILE_SIZE"
              value="50MB"/>

    <appender name="local_log"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/local/frontend.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 单个日志文件大小 -->
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <!-- 日志文件总大小 -->
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <!--日志文件保留天数-->
            <MaxHistory>${MAX_HISTORY}</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%highlight(%-5level){FATAL=red,ERROR=red,WARN=yellow,INFO=green,DEBUG=cyan,TRACE=blue}] %logger{50} - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web"
            level="INFO"/>
    <root level="INFO">
        <appender-ref ref="local_log"/>
        <appender-ref ref="console"/>
    </root>
</configuration>